/* --- Font : Sora ---*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600;700&display=swap");
/*  Font Michroma */
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

/* --- Custom variables ---*/
:root {
  /*  --- Fonts  ---*/
  --font-sora: "Sora", sans-serif;
  --font-Michroma: "Michroma", sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;

  /* --- Colors --- */
  --color-primary: #844cbb;
  --color-secondary: rgb(117, 16, 247);
  --color-semidark: #424242;
  --color-bg: #f3f2ff;
  --color-gray: #504f4f;
  scroll-behavior: smooth;
}
/*  --- Resets --- */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: var(--font-sora);
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* Mobile layout */

/* ------------- header ------------- */
#header {
  width: 100%;
  height: fit-content;
  padding-bottom: 50px;
  background-image: url(./images/bg-1-mbl.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}
#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  background-color: var(--color-semidark);
  border-bottom: var(--color-secondary) solid 5px;
  z-index: 10;
}
#topbar .logo a {
  font-family: var(--font-sora);
  font-weight: var(--font-bold);
  font-size: 1.5rem;
  color: white;
}

.menu-icon {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  border: white solid 1.5px;
  border-radius: 5px;
  cursor: pointer;
}
.menu-icon div {
  width: 25px;
  height: 3px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: white;
}
.menu-icon div:nth-child(1) {
  margin-top: 0;
}

#topbar .container {
  max-width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto 0px;
  padding-bottom: 15px;
}

#topbar .navigation {
  position: absolute;
  top: 8vh;
  left: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-color: var(--color-semidark);
  z-index: 111;
  transition: all 0.25s;
}
#topbar .navigation--active {
  height: 100vh;
}
#topbar .navigation li {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
#topbar .navigation li a {
  font-family: var(--font-sora);
  font-weight: var(--font-semibold);
  font-size: 1.25rem;
  color: white;
}
#topbar .navigation li:last-of-type {
  padding: 15px 0px;
  background-color: var(--color-primary);
}
/* Welcome area */
#welcome {
  margin-top: 8vh;
}
#welcome .container {
  width: 95%;
  margin: 0 auto;
  padding-top: 30px;
}
/* Tagline area */
.tagline-area {
  text-align: center;
}
.tagline-area .tagline {
  font-family: var(--font-Michroma);
  font-size: 1.5rem;
  line-height: 2.5;
  padding-bottom: 30px;
  color: rgb(87, 87, 87);
  color: var(--color-secondary);
}

/* Code editor animation */
.code-editor {
  width: 95%;
  height: 280px;
  background-color: white;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: -6px 8px 5px -6px rgba(0, 0, 0, 0.5);
}
.code-editor .topbar {
  display: flex;
  justify-content: space-between;
}
.code-editor .topbar .see-code {
  margin: 5px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: var(--color-gray);
}
.code-editor .topbar .see-code p {
  color: white;
  font-size: 0.75rem;
}
.code-editor .topbar .dots {
  display: inline-flex;
  margin-top: 15px;
  margin-left: 15px;
}
.code-editor .topbar .dots div {
  width: 6px;
  height: 6px;
  margin-right: 5px;
  border-radius: 50%;
  box-shadow: -1px 1px 5px 0px rgb(0 0 0 / 50%);
}
.code-editor .dots div:nth-child(1) {
  background-color: #ff0000cb;
}
.code-editor .dots div:nth-child(2) {
  background-color: #ffe60098;
}
.code-editor .dots div:nth-child(3) {
  background-color: #04ff00a8;
}
.editor {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}
.code-editor .editor .line-number {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-right: 10px;
}
.code-editor .editor .text-area span {
  font-family: var(--font-sora);
  font-size: 0.78rem;
  line-height: 1.8;
}

/* Scroll down indicator */
#welcome .container .scroll-down {
  text-align: center;
  animation: scroll-down 1.5s ease-in-out 0.25s infinite backwards;
}
@keyframes scroll-down {
  100% {
    transform: translateY(20px);
  }
}

/* ------------------ Services Section --------------------- */
#services {
  margin: 50px auto;
}
#services .section-title {
  font-family: var(--font-Michroma);
  text-align: center;
  color: var(--color-gray);
}
#services .section-title span {
  font-size: 1.75rem;
  position: relative;
  color: var(--color-secondary);
}
#services .section-title span::after {
  content: url(./images/underline.svg);
  position: absolute;
  top: 20px;
  left: 3px;
}
/* Cards */
.my-services .services-container {
  display: flex;
  flex-wrap: wrap;
}
.my-services .card {
  width: 370px;
  margin: 50px auto;
  padding: 10px 15px;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 15px -5px rgba(0, 0, 0, 0.5);
}
.card .icon {
  width: 80px;
  margin: 10px;
}

.card .title {
  margin: 10px 20px;
  font-size: 1.75rem;
}
.card .body-text {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 20px 0px 50px;
  color: var(--color-gray);
}

.card .middle {
  margin: 50px 20px;
}
.card .middle h4 {
  font-family: var(--font-Michroma);
  font-size: 1.25rem;
  color: var(--color-primary);
  margin-bottom: 10px;
}
.card .middle p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 20px 0px 50px;
  color: var(--color-gray);
}
.tools {
  margin-bottom: 30px;
}
.tools h4 {
  font-family: var(--font-Michroma);
  font-size: 1.25rem;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.tools ul li {
  font-size: 1.2rem;
  margin: 10px 0px;
  color: var(--color-gray);
}

/* ------------- My works section */

#works {
  width: 100%;
  height: fit-content;
  background-image: url(./images/bg-2-mbl.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  margin: 0 auto;
}
#works .section-title {
  font-family: var(--font-Michroma);
  text-align: center;
  color: var(--color-gray);
  padding-top: 60px;
}
#works .section-title span {
  font-size: 1.75rem;
  position: relative;
  color: var(--color-secondary);
}
#works .section-title span::after {
  content: url(./images/underline.svg);
  position: absolute;
  top: 20px;
  right: -13px;
  transform: scale(0.75);
}

.my-works {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 50px auto;
}
.my-works .filter {
  margin-left: auto;
}

.my-works .filter select {
  outline: none;
  padding: 5px 5px;
  border: var(--color-gray) solid 1px;
  border-radius: 5px;
  background-color: white;
}

/* Works Container */
.works-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 30px auto;
}
.works-container .card {
  width: 400px;
}
.works-container .body {
  background-color: white;
  border-radius: 10px;
}
.works-container .topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.works-container .topbar .dots {
  display: inline-flex;
}
.works-container .topbar .dots div {
  width: 6px;
  height: 6px;
  margin-right: 5px;
  border-radius: 50%;
}
.works-container .dots div:nth-child(1) {
  background-color: #ff0000cb;
}
.works-container .dots div:nth-child(2) {
  background-color: #ffe60098;
}
.works-container .dots div:nth-child(3) {
  background-color: #04ff00a8;
}
.works-container .topbar .project-name {
  font-size: 1.15rem;
}
.works-container img {
  width: 100%;
  height: 200px;
  margin: 5px 0px;
}
.works-container .footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  padding-bottom: 5px;
}
.works-container .see-live {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: var(--color-primary);
}
.works-container .see-live .red-dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: red;
}
.works-container .footer .code {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  color: white;
  margin-left: 5px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: var(--color-primary);
}
/* Project tags */
.works-container .tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
.works-container .tags li {
  text-align: center;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 0.75rem;
  color: var(--color-gray);
  background-color: #bababa42;
  border-radius: 5px;
  text-transform: uppercase;
}
.my-works .see-all {
  margin-left: auto;
  margin-right: 10px;
}
.my-works .see-all p {
  font-size: 1.5rem;
  font-weight: var(--font-bold);
  border-bottom: var(--color-primary) solid 5px;
}
/* ---------------- About me -------------- */

#about .container {
  width: 90%;
  margin: 80px auto;
}
#about .section-title {
  font-family: var(--font-Michroma);
  text-align: center;
  color: var(--color-gray);
  margin: 20px 0px;
}
#about .section-title span {
  font-size: 1.75rem;
  position: relative;
  color: var(--color-secondary);
}
#about .section-title span::after {
  content: url(./images/underline.svg);
  position: absolute;
  top: 20px;
  left: -12px;
  transform: scale(0.75);
}

#about .container .author {
  margin: 50px 0px;
  display: grid;
  grid-template-columns: repeat (6, 1fr);
  grid-template-areas: "a-img a-name a-name a-name a-name a-name" "a-body a-body a-body a-body a-body a-body";
}

#about .author .image {
  grid-area: a-img;
  justify-self: center;
  align-self: center;
}
#about .author .image img {
  grid-area: a-img;
  width: 100px;
}
#about .author .name {
  grid-area: a-name;
  align-self: center;
}
#about .author .name h1 {
  color: var(--color-primary);
  margin-bottom: 5px;
}
#about .author .body {
  grid-area: a-body;
  margin-top: 20px;
  color: var(--color-gray);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .accounts a img {
  width: 40px;
  margin-right: 15px;
}

.signature-body {
  stroke-dasharray: 539.4288330078125;
  stroke-dashoffset: 539.4288330078125;
  transition: all 1s ;
}
/* .signature-body--active {
  stroke-dashoffset: 0!important;
} */
.signature-underline {
  stroke-dasharray: 121.80633544921875;
  stroke-dashoffset: 121.80633544921875;
  transition: all 1s;
}
/* .signature-underline--active{
  stroke-dashoffset: 0!important;
} */
.signature-dot {
  opacity: 0;
  transition: all 1s;
}
.signature-dot--active {
  opacity: 1!important;
}
/* ------------ Contact me section ---------------- */
#contact {
  width: 100%;
  height: fit-content;
  margin: 50px 0px 0px;
  padding-bottom: 50px;
  background-image: url(./images/bg-3-mbl.svg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}
#contact .container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#contact .section-title {
  font-family: var(--font-Michroma);
  text-align: center;
  color: var(--color-gray);
  margin: 20px 0px;
  padding-top: 60px;
}
#contact .section-title span {
  font-size: 1.75rem;
  position: relative;
  color: var(--color-secondary);
}
#contact .section-title span::after {
  content: url(./images/underline.svg);
  position: absolute;
  top: 20px;
  left: -13px;
  transform: scale(0.75);
}
#contact .message {
  font-family: var(--font-sora);
  word-spacing: 1.5;
  line-height: 1.5;
  font-size: 1.25rem;
  color: var(--color-gray);
  margin: 20px 0px;
}

#contact .accounts img {
  width: 40px;
  margin-right: 15px;
}
/* ----------------- Footer ------------ */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;
  background-color: var(--color-gray);
}
footer p span {
  font-weight: var(--font-bold);
  color: var(--color-primary);
}
/* ----------------- Fixed on screen ------------------ */
.fixed-on-screen {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.fixed-on-screen img {
  width: 60px;
  cursor: pointer;
}
.fixed-on-screen .body {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 25px;
  width: 365px;
  height: 300px;
  background-image: url(./images/fixed-on-screen.svg);
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  animation: fixed-on-screen 0.25s forwards ease-in-out;
}
.fixed-on-screen .body--active {
  display: block !important;
}
@keyframes fixed-on-screen {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.fixed-on-screen .element .message {
  font-size: 1.25rem;
  padding: 40px 30px 25px;
}
.fixed-on-screen .element .message span {
  color: var(--color-primary);
}
.fixed-on-screen .accounts {
  text-align: center;
}
.fixed-on-screen .accounts a img {
  width: 40px;
  margin-right: 15px;
}
/* ------------------------- Modal --------------------- */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: black;
}
.modal .container .background {
  z-index: 20;
}

/* Background animation */
.modal .container .background div {
  position: absolute;
  width: 10vh;
  height: 12vh;
  background-color: white;
}
.modal .container .background div:nth-of-type(1) {
  top: 0;
  left: 0;
  animation: modal 0.5s linear forwards;
}
.modal .container .background div:nth-of-type(2) {
  top: 10vh;
  right: 0;
  animation: modal 0.5s linear forwards;
}
.modal .container .background div:nth-of-type(3) {
  top: 20vh;
  left: 0;
  animation: modal 0.5s linear forwards;
}
.modal .container .background div:nth-of-type(4) {
  top: 30vh;
  right: 0;
  animation: modal 0.5s linear forwards;
}
.modal .container .background div:nth-of-type(5) {
  top: 40vh;
  left: 0;
  animation: modal 0.5s linear forwards;
}
.modal .container .background div:nth-of-type(6) {
  top: 50vh;
  left: 0;
  animation: modal 0.5s linear forwards;
}
.modal .container .background div:nth-of-type(7) {
  top: 60vh;
  right: 0;
  animation: modal 0.5s linear forwards;
}
.modal .container .background div:nth-of-type(8) {
  top: 70vh;
  right: 0;
  animation: modal 0.5s linear forwards;
}
.modal .container .background div:nth-of-type(9) {
  top: 80vh;
  right: 0;
  animation: modal 0.5s linear forwards;
}
.modal .container .background div:nth-of-type(10) {
  top: 90vh;
  left: 0;
  animation: modal 0.5s linear forwards;
}
/* Modal animation */
@keyframes modal {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Modal elements */
.modal .element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 30;
}
.modal .element .body {
  margin-top: 20vh;
}
.modal .element img {
  width: 30px;
  margin-top: 30px;
  margin-left: 85%;
  cursor: pointer;
}
.modal .element .body p {
  text-align: center;
  font-size: 1.25rem;
  line-height: 2;
  color: var(--color-primary);
}
.modal .element .body .accounts {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.modal .element .body .accounts img {
  width: 40px;
}
/* ================ ====Medium devices (landscape tablets, 768px and up) ========================*/
@media only screen and (min-width: 768px) {
  #header {
    background-image: url(./images/bg-1.svg);
  }
  .code-editor {
    width: 70%;
  }
  .my-services .card {
    width: 330px;
  }
  .card .body-text {
    font-size: 1rem;
  }
  .card .middle h4 {
    font-size: 1rem;
  }
  .card .middle p{
    font-size: 1rem;
  }
  .tools h4  {
    font-size: 1rem;
  }
  .tools ul li{
    font-size: 1rem;
  }
  #about .container {
    width: 70%;
  }
  #contact .container {
    width: 80%;
  }
}
/*======================= Large devices (laptops/desktops, 992px and up) =======================*/
@media only screen and (min-width: 992px) {
  #header {
    background-position: center -114px;
  }
  /* Topbar area */
  .menu-icon {
    display: none;
  }
  #topbar {
    height: 10vh;
  }
  #topbar .container {
    width: 80%;
    max-width: 1260px;
  }
  #topbar .navigation {
    all: initial;
    display: flex;
    align-items: center;
  }
  #topbar .navigation li {
    margin-right: 20px;
    transition: 0.25s;
  }
  #topbar .navigation li:hover {
    border-bottom: var(--color-primary) solid 3px;
  }
  #topbar .navigation li:last-of-type {
    padding: 5px 10px;
    background-color: transparent;
    border: var(--color-primary) solid 3px;
    border-radius: 50px;
    transition: all 0.25s;
    position: relative;
    overflow: hidden;
  }
  #topbar .navigation li:last-of-type::after {
    content: "";
    position: absolute;
    top: 35px;
    left: -1px;
    width: 145px;
    height: 37px;
    z-index: -1;
    border-radius: 50px;
    background-color: var(--color-primary);
    transition: 0.25s;
  }
  #topbar .navigation li:last-of-type:hover:after {
    top: -1px;
  }
  #topbar .navigation li a {
    font-weight: var(--font-light);
    font-size: 1rem;
  }
  /* Welcome section */
  .tagline-area .tagline {
    line-height: 2;
  }
  .code-editor {
    width: 700px;
    height: 300px;
    margin: 0 auto 20px;
  }

  /* Services section */
  .my-services .services-container {
    width: 80%;
    margin: 0 auto;
  }
  .card .title {
    font-size: 1.5rem;
  }

  /* Works section */
  #works {
    background-image: url(./images/bg-2.svg);
    background-position: center 0px;
  }
  .my-works {
    width: 80%;
  }
  .works-container {
    width: 100%;
    justify-content: center;
  }
  .works-container .card {
    width: 300px;
  }
  .works-container img {
    height: 150px;
  }

  /* About section */
  #about .container {
    width: 70%;
  }
  #about .container .author {
    grid-template-areas: "a-img a-img a-name a-name a-name a-name" "a-img a-img a-body a-body a-body a-body";
  }
  #about .author .image img {
    width: 250px;
    margin: 0px 100px;
  }
  /* Get in touch */
  #contact .section-title {
    padding-top: 80px;
  }
  /* fixed on screen */
  .fixed-on-screen {
    position: fixed;
    bottom: 35px;
    right: 35px;
  }
}
